@font-face {
  font-family: Vazir;
  src: url("Vazir.eot");
  src: url("Vazir.eot?#iefix") format("embedded-opentype"),
    url("Vazir.woff") format("woff"), url("Vazir.ttf") format("truetype");
  font-weight: normal;
}

body {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  font-family: Vazir;
  flex-direction: column;
}
.route {
  color: #959595;
  margin: 1rem 0rem;
}

.title {
  background-color: #f0c20d;
  color: white;
  width: 6rem;
  height: auto;
  padding: 0.2rem;
  text-align: center;
  border-radius: 0.5rem;
}
.me {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cover-img {
  display: flex;
  justify-content: center;
}
.image {
  width: 40rem;
  height: auto;
}

.question {
  background-color: gray;
  padding: 1rem;
  height: 3rem;
}
