
p {
    direction: rtl;
    float: right;
}

.show {
    padding: 8px;
    position: relative;
    border-radius: 4px;
    background-color: #cecece;
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}
.show-button {
    padding: 8px;
    position: absolute;
    border-radius: 24px;
    right: 0;
    bottom: 4px;
    width: 124px;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}