#titrText{
    text-align: right;
    color: #bebebf;
}
h1,h2,li,p,h3,h4,pre{
    text-align: right;
    direction: rtl;
}
#mainDiv{
    border: 1px solid rgba(200, 200, 200, 0.5);
    margin: 150px 100px;
    border-radius: 20px;
    padding: 30px;
}
#tagText1{
    padding: 5px;
    background-color: #ffc107;
    text-align: center;
    color: white;
    width: 100px;
    border: 1px solid #ffc107;
    border-radius: 20px;
}
#profile{
    text-align: right;
    font-size: 10px;
    color: #373b3e;
}